body{
  height: 100vh;
  width: 100vw;
  color: black;
}

a{
  color:
}

.profile-content{

}

.edit-profile{

}

.change-password{

}

.log-out{

}

.profile-container{
  /* width: 200px;
  height: 400px; */
}

.image-box{
  width: 100%;
  height: 100%;
}

.profile-image-container{
  
}
.profile-image{
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.profile-pic{

}

.private-info{
  color: grey;
}

.profile-container{
  width: 100vw;
  height: 30%;
  border: 1px solid grey;
}

.user-profile{
}

.profile-edit{
  color: grey;
}
