body{
  height: 100%;
  width: 100%;
  color: black;
  font: Helvetica;
}

a{
  color:
}

.profile-content{

}

.edit-profile{

}

.change-password{

}

.log-out{

}

.profile-container{
  /* width: 200px;
  height: 400px; */
}

.image-box{
  width: 100%;
  height: 100%;
}

.profile-image-container{

}
.profile-image{
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.profile-pic{

}

.private-info{
  color: grey;
}


.profile-container{
  /* width: 100vw; */
  height: 30%;
  border: 1px solid grey;
}

.user-profile{
}

.profile-edit{
  color: grey;
}


/* .user-post-container{
  width: 100vw;
  display: flex;
}

.posts{
  width: 100vw;
  height: 100vh;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;

}
*/

.img-posts{
  width: 100%;
  height: 100%;

}

.create-post{
  color: grey;
}

.caption{

}
