body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
  /* font-family: "Heebo", sans-serif; */
}

.jumbotron{
  width: 100vw;
  height: 100%;
  background-color: white;
}

.postsedit{
  margin-bottom: 180px;
}

.feed{
  margin-left: 25%;
}

.profile{
  width: 100%;
  margin-top: -50px;
}

.username{
  color: #4582EC;
  margin-top: 50px;
}

.profile-container {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-bottom: 1px solid #D8D9DA;

}

.profile-img-circle{
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* object-fit: cover; */
  border: 2px solid #D8D9DA;
  display: flex;
  margin-left: 30%;
  margin-top: 35px;
}

.profile-img-circle-visit{
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #D8D9DA;
  /* justify-content: center; */
  margin-left: -100px;
  margin-top: -30px;
  margin-r: 0px;
}

.user-info-box{
  width: 100%;
  height: 50%;
  /* border-bottom: 2px solid grey; */
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  margin-left: 5%;
  text-align: left;
  margin-top: 40px;
  display: grid;
}

.user-info-box-visit{
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 0px;
  margin-left: 40px;
  display: grid;
}

.visit-profile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.user-buttons{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D8D9DA;


}
.userButtons {
  margin-left: 5px;
  margin-right: 5px;
}
.profile-content{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  grid-auto-rows: minmax(100px, auto);

}

.profile-edit{
  color: grey;
}

.message{
  font-size: 20px;
  font-weight: bold;
}


.change-password {
  font-size: 30px;
}


footer {
  width: 100%;
  height: 30vh;
  background-color: #343A40;
  margin-top: -100px;
}


.footermenu {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 100px;
}

.footermenu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footermenu-content a {
  /* padding-top: 15px; */
  color: white;
  text-decoration: none;
}

.footer-title{
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  color: white;
}


.social-icons {
  /* padding: 30px; */
  width: 60px;
  height: 60px;
}

.arrow{
  width: 15px;
  height: 15px;
  margin-left: 16px;
}

.to-top{
  color: white;
  font-size: 20px;
}
.backtotop{
  margin-right: 0;
}


a:hover{
  color: black;
}
